In [1]:
#for data manipulations
import numpy as np
import pandas as pd

#for data visualizations
import seaborn as sns
import matplotlib.pyplot as plt

#for interactivity 
from ipywidgets import interact

In [2]:
# to read dataset

data=pd.read_csv("data.csv")

In [5]:
# check the shape of the dataset
print("Shape of the dataset : ",data.shape)

Shape of the dataset :  (2200, 8)

In [6]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [7]:
data.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [10]:
# to check missing value

data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

### If missing Values
- fillna function is used to replace these missing values with statistical values such as: Mean , Median or Mode
- Mean =   used when the column contains numerical data
- Median = used when the column contains data with outliers
- Mode  =  used when the column contains categorical data

- pandas have two functions such as fillna and dropna to treat missing values

In [14]:
# to check the crops present in the dataset

data['label'].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [22]:
data.describe()
mean=data.describe()

In [24]:
# it gives us the minimum requirements of the soil and climate
mean.loc["mean"]

N               50.551818
P               53.362727
K               48.149091
temperature     25.616244
humidity        71.481779
ph               6.469480
rainfall       103.463655
Name: mean, dtype: float64